<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar">
        <a class="navbar-brand" style="color: white;" href="/">Blogify</a>
          <form class="form-inline">
            <% if user_signed_in? %> <li><%= link_to 'Logout', destroy_user_session_path, :method=> :delete %><li>

            <% else %>
              <%= link_to "Sign up" , new_user_registration_path , :class => "btn btn-outline-primary" , :style =>"color:white;" %>  
              <div style="padding-left: 10px;">
                <%= link_to "Login" , new_user_session_path , :class => "btn btn-outline-primary" , :style=> "color: white" %>
              </div>
            <% end %>
          </form>
      </nav>
    <div class="starter-template">
      <div class="container">
        <%if notice %><div class ="alert alert-info"> <%= notice %></div> 
        <% end %>
        <%if alert %><div class ="alert alert-warning"> <%= alert %></div> 
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>


   