<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar">
        <a class="navbar-brand" style="color: white;" href="/"><h3><b>Blogify</b></h3></a>
          <form class="form-inline">
            <% if user_signed_in? %> 
    
           

            <%= link_to  new_post_path do %>
                 <span class="far fa-edit" style="font-size: 1.85rem; color: white;margin-right: 25px"> 
            <% end %>
            

             <%= link_to  edit_user_registration_path do %>
                 <span class="fa fa-user-circle" style="font-size: 1.85rem; color: white;margin-right: 25px"> 
            <% end %>
            <%= link_to '', destroy_user_session_path, :method=> :delete, class: "fas fa-sign-out-alt",:style=>"font-size: 1.85rem; color: white;margin-right: 25px" %>

            <% else %>
              <%= link_to "Sign up" , new_user_registration_path , :class => "btn btn-outline-primary" , :style =>"color:white;" %>  
              <div style="padding-left: 10px;">
                <%= link_to "Login" , new_user_session_path , :class => "btn btn-outline-primary" , :style=> "color: white" %>
              </div>
            <% end %>
          </form>
      </nav>
    <div class="starter-template">
      <div class="container">
        <%if notice %><div class ="alert alert-info"> <%= notice %></div> 
        <% end %>
        <%if alert %><div class ="alert alert-warning"> <%= alert %></div> 
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>


   